html,body {
	height: 100%;
	width: 100%;
	margin: 0;
}
.animationClass {
	height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed; 
	background-size: cover;
}

.noiseClass {
	height: 100%;
	width: 100%;
	opacity: 0.2;
	background-image: url('../gifs/giphy.gif')
}

#letsPlayButton {
	border: $hotPink solid 3px;
	background-color: transparent;
	height: 50px;	
	width: 150px;
	margin-top: 100px;
	margin-left: -75px;
	position: absolute;
	top: 50%;
	font-size: 20px;
	color: $seaFoam;
	display: none;
	font-family: eightBitFont;
	a {
		text-decoration: none;
		color: $seaFoam;
	}
	&:hover {
		background-color: $yellow;
		border: none;
		cursor: pointer;
	}
}

img {
	height: auto; //auto 350px	
	max-width: 100%; //100% 800px
	width: auto;
	// margin-top: -220px; OG
	// margin-left: -400px;
	margin-top: -190px;
    margin-left: -350px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	animation: fadeIn 2s;
}

