button#letsPlayButton {
	border: $hotPink solid 3px;
	background-color: transparent;
	height: 50px;
	width: 150px;
	font-size: 20px;
	color: $seaFoam;
	display: none;
	justify-content: center;
    align-items: center;
}