@font-face {
	font-family: "eightBitFont";
	src:  url("../images/eightBitFont.ttf") format("truetype")
}

.chanelClass {
	color: $neonGreen;
	font-size: 60px;
	font-family: eightBitFont;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}



