img {
	height: 30%; 
	width: 100%;
	margin: 0;
}

@keyframes gifAnimation {
    0%   {background-image: url('../gifs/pasta.gif');}
    25%  {background-image: url('../gifs/spice.gif');}
    50%  {background-image: url('../gifs/toma.gif');}
    100% {background-image: url('../gifs/vodka.gif');}
}

