@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.chanelClass {
	color: $neonGreen;
	font-size: 60px;
	font-family: 'Rubik Mono One', sans-serif;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}



