html,body {
	height: 100%;
	width: 100%;
	margin: 0;
}

// #animationContainer {
//     height: 100%;
//     width: 100%;
//     background-position: center;
//     background-image: url('../gifs/pasta.gif');
//     background-repeat: no-repeat;
//     background-position: center center;
// 	background-attachment: fixed; 
// 	background-size: cover;
// 	background-color: black; 
// 	display: flex;
//     justify-content: center;
//     align-items: center;
// }

.animationClass {
	height: 100%;
    width: 100%;
    background-position: center;
    // background-image: url('../gifs/pasta.gif');
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed; 
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;

}